body {
    overflow: hidden;
}

header {
    display: flex;
    align-content: flex-start;
    padding-left: 2rem;
    padding-top: 2rem;
}

h1 {
    font-size: 1rem;
}

h1 u {
    font-size: 1.75rem;
    color: var(--colour-accent)
}

img {
    margin-left: 1rem ;
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    .login-form {
        width: 90%;
    }
}

.login-form {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;

    background: var(--colour-highlight);
    border: 1px solid var(--colour-highlight);
    box-shadow: 0px 4px 4px var(--colour-text);
    border-radius: 42px;
}

.login-form input {
    background: var(--colour-highlight);
    border: 1px solid var(--colour-accent);
    border-radius: 8px;
    width: 75%;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.6rem;
}

.login-form input[type="submit"] {
    margin-top: 1.2rem;
    width: 60%;
    background: var(--colour-accent);
}

.login-form input[type="button"] {
    width: 50%;
}

.login-form #title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.login-form #subtitle {
    width: 80%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    word-wrap: break-word;
    text-align: center;
}
