.progress-bar {
  width: 100%;
  height: 0.8rem;
  background-color: var(--colour-mid-grey);
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--bar-fill, var(--colour-accent));
}

.wrap-grid {
  display: grid;
  justify-items: center;
  --card-width: 20ch;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: 2rem;
}

.wrap-grid .card-small {
  text-align: center;
  max-width: var(--card-width, 20ch);
}

.wrap-grid a {
  text-decoration: none;
}

a h3 {
  text-decoration: underline;
}

.project-detail {
  display: flex;
  align-items: center;
}

.detail-highlight {
  font-weight: 800;
  background-color: var(--colour-card-highlight);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-left: auto;
  display: inline-flex;
}
