.wrap-grid {
  display: grid;
  justify-items: center;
  --card-width: 20ch;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: 2rem;
}

.wrap-grid .card-small {
  text-align: center;
  max-width: var(--card-width, 20ch);
}

.project-detail {
  display: flex;
  align-items: center;
}
