.h1-email{
  line-height: 0.1rem;
}

.email-box{
  background-color: var(--colour-light-grey);
  font-size: 10px;
  float:right;
}


/*The CSS below is for the password section of the user profile page*/
.h1-password {
  line-height: 0.1rem;
}

.change-password-btn {
  width: 130px;
  height: 19.85px;

  text-align: center;
  display: flex;
  align-items: center;

  float:right;


  background: var(--colour-accent);
  box-shadow: 0px 4px 4px var(--card-shadow);
  border-radius: 7px;
}

/*The CSS below is for the apppearance section of the user profile page*/
.theme {
  border:none;
  float:right;
}

.h1-appearance{
  line-height: 0.1rem;
}

.label-subtext{
  color: var(--colour-mid-grey);
  font-size: 10px;
  line-height: 0.1rem;
}


.card-upload-button {
  width: 116px;
  height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;


  background: var(--colour-accent);
  box-shadow: 0px 4px 4px var(--card-shadow);
  border-radius: 7px;
}



.title-card {
  text-decoration: underline;
  text-decoration-color: var(--colour-accent);
}

.card-image-wrapper {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 15px;
  /* or 69% */
  letter-spacing: 0.01em;

  color: var(--colour-darker-grey);
}

.card-profile-picture {
  box-sizing: border-box;

  width: 70;
  height: 122px;

  border: 1px solid var(--colour-accent);
  border-radius: 239.5px;
}

.new-item {
  background-color: var(--colour-accent);
  border: none;
  aspect-ratio: 1;
  width: 3rem;
  border-radius: 100vh;
  font-size: 2.5rem;
  padding: 0;
  margin: 0 1rem;
  box-shadow: var(--card-shadow);
  color: var(--colour-highlight);
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

.link-list a {
  color: var(--colour-accent);
}
