.post {
  --post-radius: var(--card-radius);
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0;
}

.post aside {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: stretch;
  justify-items: stretch;
}

.post aside > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.post aside > :first-child {
  border-radius: var(--post-radius) 0 0 0;
}
.post aside > :last-child {
  border-radius: 0 0 0 var(--post-radius);
}
.post aside > :nth-child(2n - 1) {
  background-color: var(--colour-accent-soft);
}

.post aside > :nth-child(2n) {
  background-color: var(--colour-accent-trans);
}

.post aside .account {
}

.post main {
  margin: 1rem;
}

.post main > :first-child {
  margin: 0;
}

.post main .btn-action {
  margin-top: 0.5rem;
  margin-left: auto;
}

/*i know these are in the other style.css but i cannot be bothered to link them as it's easier to just stick them here :) */
.dropdown-topic {
  background-color: var(--colour-highlight);

  width: fit-content;
  font-size: 1rem;

  border: 0.2rem solid;

  margin: 0.5rem;
  box-shadow: var(--card-shadow);
  border-color: var(--colour-accent);
  border-radius: 0.5rem;
  color: var(--colour-text);
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.search-box {
  background-color: var(--colour-highlight);
  border: none;
  font-size: 1rem;
  padding: 0.25rem;
  width: 60%;
  box-shadow: var(--card-shadow);
  border-radius: 0.5rem;
}

.search {
  display: flex;
  padding: 1rem;
  flex-wrap: nowrap;
}
