.topcards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-center {
  margin: auto;
}

.small-cards-wrapper-center {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deadline-date {
  font-size: 3em;
  font-weight: 500;
  margin: 2rem auto; /* top right bottom left */
  margin-bottom: 0;
  text-align: center;
  /* margin-top: 3rem;
  margin-bottom: 1rem; */
}

.deadline-days-left {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1rem auto; /* top right bottom left */
  text-align: center;
  color: var(--colour-red);
  /* margin-top: 1rem;
  margin-bottom: 3rem; */
}

.card-small-text {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0 1rem 0; /* top right bottom left */
  text-align: center;
}

.card-small-image {
  aspect-ratio: 1;
  border-radius: 100vh;
  width: 8rem;
  height: 8rem;
  margin: 1rem 0 1rem 0;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

.move-right {
  margin-left: 1rem;
}

.card-smaller {
  max-width: 20ch;
}

.project-members-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: 1rem 2rem;
  justify-items: center;
  margin: 1rem 1rem; /* top right bottom left */
}

.project-members-wrap a {
  text-align: center;
}

/* CIRCULAR PROGRESS BAR */

/* PROGRESS SPINNER */

.spinner-parent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15rem;
  aspect-ratio: 1;
  background: transparent;
  border-radius: 100vh;
  isolation: isolate;
  --width: calc(25% / 2);
  margin: 0.5rem 0 0 1rem;
}

.spinner {
  --prog: var(--progress, 60%);
}

@property --prog {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 30%;
}

@keyframes initialise-prog {
  0% {
    --prog: 0%;
  }
  100% {
    --prog: var(--progress, 60%);
  }
}

@keyframes initialise-end-rot {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: var(--progress-angle, 0.6turn);
  }
}

.spinner-parent::before {
  position: absolute;
  top: 0;
  content: "";
  width: var(--width);
  aspect-ratio: 1;
  background: var(--colour-accent);
  border-radius: 100vmax;
  z-index: 1;
}

.spinner {
  position: absolute;
  border-radius: 100vmax;
  inset: 0;
  transition: --prog 0.2s ease-in;
  animation: initialise-prog 1s ease-in-out forwards;
  background: conic-gradient(
    from 0deg at 50% 50%,
    var(--colour-accent) var(--prog),
    var(--colour-mid-grey) var(--prog)
  );
}

.spinner-parent .center {
  width: 75%;
  z-index: 1;
  background-color: var(--colour-highlight);
  aspect-ratio: 1;
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.2);*/
}

.spinner-end-wrapper {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background: transparent;
  animation: initialise-end-rot 1s ease-in-out forwards;
}

.spinner-end-wrapper::after {
  content: "";
  position: absolute;
  width: var(--width);
  left: calc(50% - var(--width) / 2);

  aspect-ratio: 1;
  background: var(--colour-accent);
  border-radius: 100vmax;
  z-index: 3;
}

.center h3 {
  font-size: 2em;
  margin: 0;
}
.center p {
  margin: 0;
}
