.post {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.post-edit [name="post"] {
  /* The height of the placeholder text */
  min-height: 10rem;
  /* Worry about this later 😀 */
  height: auto;
}

form .submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form .submit :not(.btn-action) {
  flex-grow: 1;
  margin-right: 0.5rem;
}
form .submit .btn-action {
  width: fit-content;
}
