form .submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form .submit :not(.btn-action) {
  flex-grow: 1;
  margin-right: 0.5rem;
}
form .submit .btn-action {
  width: fit-content;
}
