.post {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.post :not(:first-child) {
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.post [name="post"] {
  /* The height of the placeholder text */
  min-height: 10rem;
  /* Worry about this later 😀 */
  resize: vertical;
  height: auto;
}

form .submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form .submit :not(.btn-action) {
  flex-grow: 1;
}
form .submit .btn-action {
  width: auto;
}

.sandwich {
  --sandwich-radius: var(--card-radius);
  padding: 0;
}
.sandwich > :first-child,
.sandwich > :last-child {
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--sandwich-radius);
  padding-right: var(--sandwich-radius);
  min-height: 2rem;

  background-color: var(--colour-accent-soft);
}
.sandwich > :first-child {
  margin-top: 0;
  border-radius: var(--sandwich-radius) var(--sandwich-radius) 0 0;
}
.sandwich > :last-child {
  margin-bottom: 0;
  border-radius: 0 0 var(--sandwich-radius) var(--sandwich-radius);
}
