.link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

.link-list a,
.fg-accent {
  color: var(--colour-accent) !important;
}
.myprojects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: start;
}

.myprojects-wrapper .card-small {
  margin-inline: auto;
}
