main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
}

h3 {
  color: var(--colour-accent);
  font-size: 3em;
  margin: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.5em;
  margin: 0;
}

.search > * {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.search > *:not(.btn-action) {
  font-size: 1.5em;
}
.search .btn-action {
  font-size: 2em;
}
