main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
}

h3 {
  color: var(--colour-accent);
  font-size: 3em;
  margin: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.5em;
  margin: 0;
}

.dropdown-topic {
  background-color: var(--colour-highlight);
  width: fit-content;
  margin: 0.5rem 1.6rem;
  cursor: pointer;
}

.search-box {
  background-color: var(--colour-highlight);
  border: none;
  padding: 0.75rem;
  width: 75%;
  box-shadow: var(--card-shadow);
  border-radius: 0.5rem;
}

.search-form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-form > *:not(.btn-action) {
  font-size: 1.5em;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.search-form .btn-action {
  font-size: 2em;
}
