@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  /* All root variables */
  font-family: "Roboto", sans-serif;

  --colour-text: #000;
  --colour-block: #eee;
  --colour-accent: #ffb53c;
  --colour-accent-trans: #fff9bf62;
  --colour-accent-soft: #ffe5bb;
  --colour-accent-text: #a46600;
  --colour-highlight: #fff;

  --colour-light-grey: #c7c7c7;
  --colour-mid-grey: #a6acbe;

  --colour-red: #e32020bf;
  --colour-amber: #ff9d30db;
  --colour-green: #43d34a91;

  /* Colour used for profile page*/
  --colour-darker-grey: #808080;

  /* Colours initially used in the login page*/
  --colour-box-background: #ffffff;
  --colour-box-shadow: rgba(0, 0, 0, 0.25);

  --card-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  --card-radius: 40px;
  --card-small-radius: 14px;

  --dimmed-opacity: 0.65;

  --nav-animation: 0.3s ease-in-out;
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Overrides*/
    --colour-text: #dde;
    --colour-block: #080808;
    --colour-accent-trans: #f8d9a82a;
    --colour-accent-soft: #422900;
    --colour-highlight: #1d1d1d;
    --colour-mid-grey: #a6acbe;
  }
}

body {
  color: var(--colour-text);
  background-color: var(--colour-block);
  margin: 0;
}

header.header {
  background-color: var(--colour-highlight);
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 0.5rem;
}

/* DESKTOP NAV */

/* Header bar */
.header {
  padding-block: 0.5rem;
}

.account-info {
  display: none !important;
}

@media (min-width: 768px) {
  .account-info {
    display: flex !important;
    gap: 1rem;
    margin-inline: 4rem;
  }
  .account-info h6 {
    font-size: 1.2em;
  }
  .account-info * {
    margin: 0;
  }
  .account-info .flex-col {
    align-items: flex-end;
  }

  .account-info img {
    aspect-ratio: 1;
    border-radius: 100vh;
  }
}

/* SIDE MENU */
body > main {
  margin: 0;
  padding: 0.2rem 0.5rem;
}

.side-menu {
  position: fixed;
  inset: 0;
  background-color: var(--colour-accent);
  z-index: 1;
  scale: 0% 100%;
  transition: scale var(--nav-animation);
  transform-origin: left;
}

.side-menu[data-open] {
  scale: 100% 100%;
}

.side-menu img {
  max-width: 4rem;
  margin: auto;
  display: block;
  left: 3;
}

.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu li {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}

.side-menu li > * {
  color: var(--colour-text);
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .side-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* line between links that aren't the last */
  .side-menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: 1.5rem;
    margin-top: 0.5rem;
    height: 0.25rem;
    background-color: var(--colour-text);
    border-radius: 100vmax;
  }
}

.side-menu li[data-active] {
  background-color: var(--colour-highlight);
  border-radius: 0.4rem;
}

.side-menu li[data-active] a {
  color: var(--colour-accent);
}

.nav-description {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  :root {
    --side-menu-width: 3rem;
  }

  .nav-description {
    display: none;
  }

  .side-menu {
    display: block;
    position: fixed;
    height: 100%;
    width: var(--side-menu-width);
    scale: 100% 100%;
  }

  .side-menu li {
    width: 2.5rem;
    aspect-ratio: 1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side-menu li a {
    padding: 0;
  }

  header {
    margin-left: var(--side-menu-width);
  }
  body > main {
    margin-left: var(--side-menu-width);
    padding: 0.5rem 4rem;
  }
}

/* MOBILE NAV */

.mobile-nav-toggle {
  position: fixed;
  top: 0.8rem;
  right: 0.5rem;
  background: var(--colour-highlight);
  box-shadow: var(--card-shadow);
  border-radius: 100vmax;
  display: inline-block;
  color: var(--colour-accent);
  border: none;
  font-size: 2rem;
  z-index: 3;
  transition: color var(--nav-animation);
}

.mobile-nav-toggle[data-open] {
  color: var(--colour-text);
}

@media (min-width: 768px) {
  .mobile-nav-toggle {
    display: none;
  }
}

/* CARDS */

.title-card {
  font-size: 24px;
  padding: 1rem;
  margin: 0;
}

/* utility classes that (should) be able to be re used in a lot of pages) */
.card {
  background-color: var(--colour-highlight);
  color: var(--colour-text);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-radius);
  padding: 1.2rem;
  margin: 1.5rem 0;
}

.card-small a,
.card a {
  color: var(--colour-text);
  font-weight: 600;
  text-decoration: underline var(--colour-accent);
}

.card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description {
  font-size: 1.1em;
  line-height: 1.25em;
}

.small-cards-wrapper {
  display: grid;
  --card-width: min(35ch, 80%);
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  justify-items: center;
}

/* smaller 'sub-cards' */
.card-small {
  width: 100%;
  max-width: 30ch;
  margin: 0.5rem;
  background-color: var(--colour-highlight);
  padding: 1rem;
  border-radius: var(--card-small-radius);
  box-shadow: var(--card-shadow);
}

.accent-outline {
  border: 0.3rem solid var(--colour-accent);
}

.title-card-small {
  margin: 0;
}

/* KANBAN */
@media (min-width: 1100px) {
  .kanban-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .kanban-mobile-options {
    display: none;
  }
}

.kanban-section {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.kanban-section .card-small {
  width: 80%;
  max-width: unset;
}

.kanban-section .card-small:hover {
  cursor: pointer;
}

/* kanban card top border colour (if not overwritten, defaults to colour-accent) */
.rag-band,
.kanban-section .card-small {
  border-top: 0.25rem solid var(--colour-card-highlight, var(--colour-accent));
}

/* RAG colours */
[data-rag="red"],
.kanban-section:nth-of-type(1) .card-small {
  --colour-card-highlight: var(--colour-red);
}

[data-rag="amber"],
.kanban-section:nth-of-type(2) .card-small {
  --colour-card-highlight: var(--colour-amber);
}

[data-rag="green"],
.kanban-section:nth-of-type(3) .card-small {
  --colour-card-highlight: var(--colour-green);
}

.kanban-wrapper hr {
  border: 2px solid var(--colour-text);
}

.kanban-title {
  justify-content: space-between !important;
  position: relative;
}

.kanban-mobile-options {
  background: transparent;
  color: var(--colour-text);
  border: none;
}

/* .kanban-dropdown {
  position: absolute;
  display: none;
  width: fit-content;
  right: 0;
  top: 100%;
  background: var(--colour-block);
  z-index: 10;

  scale: 100% 0%;
  transform-origin: top center;
}

@keyframes dropdown {
  0% {
    position: none;
    scale: 100% 0%;
  }
  0.1% {
    position: absolute;
  }
  100% {
    position: absolute;
    scale: 100% 100%;
  }
}

.kanban-mobile-options:focus + .kanban-dropdown,
.kanban-dropdown[data-show] {
  display: block;
  animation: dropdown 0.2s ease-in-out forwards;
}
.kanban-dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}
.kanban-dropdown li {
  padding: 0.5rem;
}
.kanban-dropdown li:active {
  background-color: var(--colour-accent);
} */

.expand-content:focus-within,
div:has(.click-expander:focus) > .expand-content {
  max-height: 8em;
  padding-bottom: 1rem;
}

.expand-content {
  max-height: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition-property: max-height padding-bottom;
  transition-duration: 0.22s;
  transition-timing-function: ease-out;
}

/* .kanban-section + .kanban-section {
  border-left: 0.2rem solid var(--colour-text);
} */

/* TASKS */

.task-list-item {
  display: grid;
  grid-template-columns: 1fr 10ch;
}

@media (min-width: 768px) {
  .task-list-item {
    grid-template-columns: 1fr 20ch 10ch;
  }
}

.task-list-item p {
  margin: 0;
}

/* <hr> line break between todo items*/
.item-break {
  border: 1px solid var(--colour-text);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

/* MODAL <dialog>s */
.modal {
  width: 80%;
  max-width: 50ch;
  border: none;
  background-color: var(--colour-highlight);
  color: var(--colour-text);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-radius);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.modal-form input,
.modal-form select,
.modal-form textarea,
.input {
  border: 2px solid var(--colour-accent);
  border-radius: 0.5rem;
  background-color: var(--colour-block);
  padding: 0.5rem;
}

.modal-form textarea {
  min-height: 10rem;
  padding: 0.6rem 1rem;
  resize: vertical;
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.end-button {
  display: flex;
  justify-content: flex-end;
}

/* USER OVERVIEW */
.member-overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: 1rem 2rem;
  justify-items: center;
  margin: 1rem 1rem;
}

.member-overview * {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

.member-view .hours span {
  margin-left: 0.5rem;
}

.detail-highlight {
  font-weight: 800;
  background-color: var(--colour-card-highlight, var(--colour-green));
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-left: auto;
  display: inline-flex;
}

.progress-bar {
  border-radius: 1rem;
  width: 100%;
  height: 0.8rem;
  background-color: var(--colour-mid-grey);
}

.progress-bar-fill {
  border-radius: 1rem;
  height: 100%;
  background-color: var(--bar-fill, var(--colour-accent));
}

.kanban-section .progress-bar {
  width: 90%;
  margin: auto;
}

/* BUTTONS */

.btn-action {
  background-color: var(--colour-accent);
  border: none;
  aspect-ratio: 1;
  width: fit-content;
  border-radius: 100vh;
  font-size: 2rem;
  margin: 0 0.5rem;
  box-shadow: var(--card-shadow);
  color: var(--colour-highlight);
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

a.btn-action {
  color: var(--colour-highlight);
  text-decoration: none;
}

.btn-action :not(span) {
  display: none;
}

.btn-action[data-secondary] {
  background-color: var(--colour-block);
  color: var(--colour-text);
}

.btn-action:hover,
.btn-action:focus {
  outline-offset: 0.3rem;
  background-color: var(--colour-highlight);
  color: var(--colour-accent);
}

@media (min-width: 768px) {
  .btn-action {
    aspect-ratio: unset;
    font-size: 1.5em;
    border-radius: 0.5rem;
    width: unset;
    padding: 0.2rem 0.8rem;
  }
  .btn-action p {
    display: block;
    margin: 0 0.2rem;
    font-size: 0.7em;
    font-weight: 600;
  }
}

/* SANDWICH */
.sandwich {
  --sandwich-radius: var(--card-radius);
  --sandwich-colour-text: var(--colour-accent-text);
  --sandwich-colour-background: var(--colour-accent-soft);
  padding: 0;
}
.sandwich > :first-child,
.sandwich > :last-child {
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--sandwich-radius);
  padding-right: var(--sandwich-radius);
  min-height: 2rem;

  color: var(--sandwich-colour-text);
  background-color: var(--sandwich-colour-background);
}
.sandwich > :first-child {
  margin-top: 0;
  border-radius: var(--sandwich-radius) var(--sandwich-radius) 0 0;
}
.sandwich > :last-child {
  margin-bottom: 0;
  border-radius: 0 0 var(--sandwich-radius) var(--sandwich-radius);
}

/* Centre Title w/ Columns */
.col-container {
  display: grid;
  grid-template: "start center end" / 1fr auto 1fr;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.col-centre {
  grid-area: center;
  justify-self: center;
}
.col-start {
  grid-area: start;
  justify-self: start;
}
.col-end {
  grid-area: end;
  justify-self: end;
}

/* UTILITY */

.profile-pic {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px var(--colour-accent-trans) solid;
}

.bg-accent {
  background-color: var(--colour-accent-trans);
}

.text-center {
  text-align: center;
}

.btn-accent {
  background-color: var(--colour-accent) !important;
}

.btn-icon {
  background: transparent;
  color: var(--colour-text);
  opacity: var(--dimmed-opacity);
  border: none;
}

.btn-icon:hover {
  cursor: pointer;
}

.dimmed {
  opacity: var(--dimmed-opacity);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.jc-start {
  justify-content: start;
}

/* USE SPARINGLY */
.mobile-hidden {
  display: none;
}

.mobile-only {
  display: initial;
}

@media (min-width: 768px) {
  .mobile-hidden {
    display: initial;
  }
  .mobile-only {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

.logout {
  cursor: pointer;
}

#waves {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: -1px;
  top: 0px;
  background: var(--colour-block);
  border: 1px solid var(--colour-block);
  backdrop-filter: blur(2px);
  z-index: -1;
}

/* IM *STRUGGLING* */

/* User Popup */
.user-list > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.user-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  color: var(--colour-text);
  text-decoration-color: var(--colour-accent);
}
#dialog-assign-user > .btn-action,
#dialog-task-users > .btn-action {
  margin-top: 1rem;
  margin-left: auto;
}

#dialog-multitask .subtask-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.user-list input[type="checkbox"],
.subtask-list input[type="checkbox"] {
  aspect-ratio: 1/1;
  width: 1.2em;
  margin: 1rem;
}

.subtask-list > * {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.subtask-list > * > div {
  width: 95%;
}

.subtask-list label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 95%;
}

.subtask-list p {
  margin: 0;
  margin-top: 0.2rem;
}

.subtask-list label :first-child {
  font-size: 1.2em;
  font-weight: bold;
}
